*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-bar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("/amazonimg/amazon_logo.png");
    background-size: cover; 
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    cursor: pointer;
}

.border:hover{
    border: 1.5px solid white;
}

/*box 2*/

.add-icon{
    display: flex;
}

.add-first{
    color: #cccccc;
    margin-left: 15px;
    font-size: 12px;
}

.add-second{
    margin-left: 3px;
}

/*box 3*/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/*box4*/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box 6*/

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/*panel*/

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}

/*hero secion*/

.hero-section{
    background-image: url("/amazonimg/hero_image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}

/*shop section*/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 23px;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px ;
}

.box-content{
    margin: 0 1rem;

}

.box-content p{
    color: #007185;
    font-size: 14px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin: 1rem 0;
}

/*footer above*/

.text-area{
    background-color: white;
    padding: 20px 0;
    display: flex;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
    height: 75px;
    width: 100%;
    padding: 20px 10px;
}

.first{
    font-size: 13px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.second{
    height: auto;
    width: 75px;
    line-height: 11px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.second a{
    text-decoration: none;
    color: #007185;
    width: 65px;
}

.second a:hover{
    text-decoration: none;
    color: salmon;
}

.fa-solid{
    font-size: 6px;
}

.back-to-top{
    background-color: #37475A;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}

.back-to-top a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.back-to-top:hover{
    opacity: 0.95;
}

.middle-footer1{
    display: flex;
    background-color: #232F3E;
    color: rgb(224, 222, 222);
    padding: 50px 40px;
}

.links{
    text-align: left;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items:last baseline;
}

.links ul{
    width: 150px;
    list-style-type: none;
    font-size: 14px;
}

.links ul li{
    line-height: 23px;
}

.links ul li:hover{
    text-decoration: underline;
}

.links .heading{
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin: 6px 0 14px;
}

.links .heading:hover{
    text-decoration: none;

}